.authentication-sfa-table-separator {
  border-bottom: 1px solid #ececec;
}

.authentication-sfa-table-separator td, .authentication-sfa-table-separator th {
  padding-top: 10px;
  padding-bottom: 10px;
}
