<h1 *ngIf="data && data.client" mat-dialog-title>Create reseller service for {{data.client.name}}</h1>
<div mat-dialog-content fxLayout="column">
  <p *ngIf="products && !products.length" class="fl-detail">No reseller products to choose from.</p>
  <form appFormSubmit (ngSubmit)="createResellerService()"
        *ngIf="products && products.length" [formGroup]="createResellerServiceForm" fxLayout="column">
    <app-form-errors #formErrors [formGroup]="createResellerServiceForm"></app-form-errors>
    <mat-form-field>
      <mat-select formControlName="product" placeholder="Product">
        <mat-option *ngFor="let product of products" [value]="product">
          {{product.name}}
        </mat-option>
      </mat-select>
      <mat-error>{{backendErrors['product'] || 'This field is required!' }}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="createResellerServiceForm.controls.product.value &&
    productsById[createResellerServiceForm.controls.product.value.id]">
      <mat-select formControlName="product_cycle" placeholder="Product cycle">
        <mat-option
          *ngFor="let productCycle of productsById[createResellerServiceForm.controls.product.value.id].cycles"
          [value]="productCycle">
          {{productCycle.display_name}}
        </mat-option>
      </mat-select>
      <mat-error>{{backendErrors['product_cycle'] || 'This field is required!' }}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button [disabled]="!createResellerServiceForm.valid" (click)="createResellerService()"
          [color]="'primary'">
    Create reseller service
  </button>
</div>
