.app-container {
  position: absolute;
  width: 100%;
}

.topbar-container {
  width: 100%;
  height: 64px;
  z-index: 30;
  position: fixed;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.content-container {
  width: 100%;
  top: 64px;
  padding-left: 237px;
  position: relative;
  transition: 430ms ease-in-out;
  -webkit-transition: 430ms ease-in-out;
}

.content-container-full {
  padding-left: 0;
  transition: 430ms ease-in-out;
  -webkit-transition: 430ms ease-in-out;
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  width: 237px;
  height: calc(100% - 64px);
  position: fixed;
  left: 0;
  z-index: 20;
  overflow-y: auto;
}

.sidenav-container::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.sidenav-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .26);
}

.powered-text {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  bottom: 0;
  left: 0;
  color: #9A9A9A;
  font-size: 14px;
  background: #f1f1f1;
  z-index: 25;
  padding: 10px 0 12px 15px;
}

.main-content-container {
  width: 100%;
  height: 100%;
  padding-top: 48px;
  margin: 0 auto;
  max-width: 1380px;
}

.switch-sidebar-button {
  background: none;
  border: 0;
  outline: none;
  margin-right: 10px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
}

.main-content-container-overlay:hover {
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .content-container {
    padding-left: 0 !important;
  }
  .main-content-container-overlay {
    display: block;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
}

@media screen and (max-width: 720px) {
  .switch-sidebar-button {
    margin-left: -10px;
  }
}

@media screen and (max-width: 480px) {
  .main-content-container {
    padding-top: 86px;
  }
}
