<div class="min-height-content fl-content">
  <app-fl-backdrop *ngIf="credentialsLoading"></app-fl-backdrop>
  <app-form-errors #formErrors [formGroup]="credentialsForm"></app-form-errors>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <form appFormSubmit (ngSubmit)="saveAndSync()" [formGroup]="credentialsForm" fxLayout="column"
          fxFlex="50" fxFlex.xs="100">
      <mat-form-field>
        <input matInput type="text" formControlName="auth_url" required
               placeholder="Keystone auth URL">
        <mat-error>{{fieldErrors['auth_url']}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" formControlName="username" required
               placeholder="Administrator username">
        <mat-error>{{fieldErrors['username']}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="password"
               placeholder="Administrator password">
        <mat-error>{{fieldErrors['password']}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" formControlName="user_project_id" required
               placeholder="Administrator project id">
        <mat-error>{{fieldErrors['user_project_id']}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" formControlName="user_domain_id" required
               placeholder="Administrator domain id">
        <mat-error>{{fieldErrors['user_domain_id']}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select formControlName="default_interface" placeholder="Default API interface" required>
          <mat-option *ngFor="let option of interfaceOptions" [value]="option.name">{{option.display}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox formControlName="require_valid_ssl" color="primary">
        Verify API SSL certificates
      </mat-checkbox>

      <p>Note that you must also configure <strong>Notifications</strong>, on the next tab, in
        order for Fleio to work.</p>

      <div fxLayout="row" fxLayoutGap="10px" fxLayout.xs="column">
        <a mat-button class="fl-margin-top" [color]="'primary'" (click)="saveAndSync()">
          {{ credentialsForm.dirty ? 'Save & sync' : 'Sync' }}
        </a>
        <a mat-button class="fl-margin-top" (click)="test()">
          Test connection
        </a>
        <a mat-button class="fl-margin-top" (click)="getOpenrcFile()">
          Get openrc file
        </a>
      </div>
    </form>
    <div fxLayout="column" fxLayoutGap="10px" fxShow.xs="false">
      <p class="mat-caption">
        <strong>Keystone auth url</strong><br>
        The Keystone version 3 API URL used by Fleio to authenticate to OpenStack.<br>
        The URL has the following form: https://keystone.url:5000/v3
      </p>
      <p class="mat-caption">
        <strong>Administrator username</strong><br>
        An OpenStack user with an administrative role.<br>
        The default admin user can usually be used.
      </p>
      <p class="mat-caption">
        <strong>Administrator password</strong><br>
        The administrator user's password.<br>
        The password is not shown here after it is set.
      </p>
      <p class="mat-caption">
        <strong>Administrator project id</strong><br>
        The administrator project ID (not the project name)<br>
        Fleio will authenticate to OpenStack for administrative tasks<br>
        using this project.
      </p>
      <p class="mat-caption">
        <strong>Administrator domain id</strong><br>
        The user domain id (not the domain name) to authenticate with<br>
        The "default" domain ID can be tried if unsure as it's usually present.
      </p>
      <p class="mat-caption">
        <strong>Default API interface</strong><br>
        The default interface Fleio uses for the OpenStack API access.<br>
        Each service usually has 3 URLs (interfaces): public, private and admin<br>
        The public interface can be used if Fleio does not have access to the OpenStack<br>
        internal network.
      </p>
      <p class="mat-caption">
        <strong>Verify API SSL certificates</strong><br>
        Fleio can connect to the OpenStack APIs using SSL<br>
        This option will also try to verify the certificate validity<br>
        using the Mozilla CA Bundle<br>
        We recommend that you install valid SSL certificates for your APIs.<br>
      </p>
      <p class="mat-caption">
        Saving the settings will launch a process that will sync OpenStack resources with Fleio.
      </p>
    </div>
  </div>
</div>
