table tr {
  border-bottom: 1px solid #eee;
}

.fl-permissions-category {
  padding: 17px 0 15px 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.fl-permissions-checkboxes {
  margin-top: 15px;
  display: block;
}

.fl-grant-permissions-checkbox {
  margin-bottom: 15px;
  margin-left: 15px;
  display: block;
}

.fl-permissions-display-name {
  padding-left: 15px;
}
