.fl-background-eee {
  background-color: #EEEEEE;
}

.rule-td {
  padding: 10px 0 10px 40px;
}

.rule-td:hover {
  background-color: #EEEEEE;
}

.sec-group {
  margin-top: 13px;
}

.fl-flex-right-align {
  flex-direction: row-reverse;
}
