<form appFormSubmit (ngSubmit)="objectController.actionCallback(primaryAction)"
      [formGroup]="clientForm" *ngIf="createOptions">
  <app-form-errors #formErrors [formGroup]="clientForm"></app-form-errors>
  <mat-form-field class="full-width">
    <input matInput placeholder="First name" type="text" formControlName="first_name" required>
    <mat-error>{{fieldErrors['name']}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label for="last_name">Last name</mat-label>
    <input matInput id="last_name" type="text" formControlName="last_name" required>
    <mat-error>{{fieldErrors['last_name']}}</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="canEditResellerClient" class="full-width">
    <input matInput placeholder="Reseller client" type="text" formControlName="reseller_client"
           (ngModelChange)="updateAvailableConfigurations()"
           [matAutocomplete]="autocompleteResellerClient" (click)="clearResellerClient()">
    <mat-autocomplete #autocompleteResellerClient="matAutocomplete" [displayWith]="resellerClientDisplay">
      <mat-option *ngFor="let resellerClient of filteredClients" [value]="resellerClient">
        {{resellerClient.name || resellerClient.id}}
      </mat-option>
    </mat-autocomplete>
    <mat-error>{{fieldErrors['reseller_client']}}</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="createForm && authService.feature('ui.clients&users.create.choose-config')"
                  class="full-width">
    <mat-select formControlName="configuration" placeholder="Configuration">
      <mat-option *ngFor="let configuration of configurations" [value]="configuration.id">
        {{configuration.name}}
      </mat-option>
    </mat-select>
    <mat-error>{{fieldErrors['configuration']}}</mat-error>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Account e-mail address" type="text" formControlName="email" required>
    <mat-error>{{fieldErrors['email']}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Country" type="text" formControlName="country" required
           [matAutocomplete]="autocompleteCountry" (click)="clearCountry()">
    <mat-autocomplete #autocompleteCountry="matAutocomplete" [displayWith]="countryDisplay">
      <mat-option *ngFor="let country of filteredCountries$ | async" [value]="country">
        {{country.label}}
      </mat-option>
    </mat-autocomplete>
    <mat-error>{{fieldErrors['country']}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Company" type="text" formControlName="company">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="VAT ID" type="text" formControlName="vat_id">
    <mat-error>{{fieldErrors['vat_id']}}</mat-error>
  </mat-form-field>
  <mat-checkbox formControlName="tax_exempt" [color]="'primary'">
    Tax exempt
  </mat-checkbox>
  <mat-form-field class="full-width">
    <input matInput placeholder="Address line 1" type="text" formControlName="address1" required>
    <mat-error>{{fieldErrors['address1']}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Address line 2" type="text" formControlName="address2">
  </mat-form-field>
  <mat-form-field class="one-third-width one-third-width-spacing">
    <input matInput placeholder="Country/state" type="text" formControlName="state" required>
    <mat-error>{{fieldErrors['state']}}</mat-error>
  </mat-form-field>
  <mat-form-field class="one-third-width one-third-width-spacing">
    <input matInput placeholder="City" type="text" formControlName="city" required>
    <mat-error>{{fieldErrors['city']}}</mat-error>
  </mat-form-field>
  <mat-form-field class="one-third-width">
    <input matInput placeholder="Zip code" type="text" formControlName="zip_code" required>
    <mat-error>{{fieldErrors['zip_code']}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Phone" type="text" formControlName="phone" required>
    <mat-error>{{fieldErrors['phone']}}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-select formControlName="currency" placeholder="Currency">
      <mat-option *ngFor="let currency of createOptions.currencies" [value]="currency">{{currency}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox *ngIf="createForm && authService.feature('ui.clients&users.create.show-auto-order-service')"
                formControlName="create_auto_order_service" [color]="'primary'">
    Create auto order service
  </mat-checkbox>
  <div class="fl-subheader-md fl-margin-top-medium fl-margin-bottom" *ngIf="createOptions.custom_fields">
    Custom fields
  </div>
  <app-custom-fields #customFields
                     *ngIf="createOptions.custom_fields"
                     [backendErrors]="backendErrors"
                     [customFieldsDefinition]="createOptions.custom_fields"
                     [liveForm]="getLiveFormVal()"
                     [formModel]="object"></app-custom-fields>
</form>
