<h1 *ngIf="data && data.instance" mat-dialog-title>Change admin password for instance {{data.instance.name}}</h1>
<div mat-dialog-content class="position-relative">
  <app-fl-backdrop *ngIf="loading" [spinnerDiameter]="30"></app-fl-backdrop>
  <form appFormSubmit (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">
  <app-form-errors #formErrors [formGroup]="changePasswordForm"></app-form-errors>
    <div fxLayout="row">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Password" [attr.type]="showPassword ? 'text': 'password'"
               formControlName="password" required>
        <mat-error>{{backendErrors['password'] || 'This field is required'}}</mat-error>
      </mat-form-field>
      <div>
        <a mat-icon-button class="fl-margin-top-medium"
           (mousedown)="showPassword = true"
           (mouseup)="showPassword = false"
           matTooltip="Hold button to reveal password">
          <mat-icon>
            visibility
          </mat-icon>
        </a>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="changePassword()"
          [color]="'primary'">
    Change password
  </button>
</div>
