<div align="center">
  <form [formGroup]="forgotPassForm" (ngSubmit)="submit()">
    <div>
      <mat-card class="forgot-pass-card">
        <div>
          <app-logo [darkContext]="false" [linkOptions]="logoLinkOptions" [customStyle]="{
            width: '140px',
            height: '70px',
            marginBottom: '20px'
          }"></app-logo>
        </div>
        <mat-card-title align="left" *ngIf="!resetRequested">
          <span class="card-title">Request password reset</span>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="!resetRequested">
            <app-form-errors #formErrors [formGroup]="forgotPassForm"></app-form-errors>
            <mat-form-field>
              <input matInput placeholder="Username or email" autocapitalize="none"
                     type="text" formControlName="username_or_email" name="username_or_email" required>
              <mat-error>This field is required!</mat-error>
            </mat-form-field>
              <p>{{forgotPassForm.errors}}</p>
          </div>
          <div class="text-left" *ngIf="resetRequested">
            If your email address exists in our database, you will receive a password recovery link at your email
            address in a few minutes.
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="!resetRequested">
            <button mat-raised-button [color]="'primary'" type="submit">Reset</button>
          </div>
          <div>
            <a [routerLink]="config.getPanelUrl('login')" mat-flat-button>Back to login</a>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
  <a class="powered-by-link" href="http://fleio.com" target="_blank"
     *ngIf="auth && auth.userData && !auth.userData.is_white_label">
    Powered by Fleio
  </a>
</div>
