<h1 *ngIf="data && data.instance" mat-dialog-title>Add ip to instance {{data.instance.name || data.instance.id}}</h1>
<div mat-dialog-content class="auto-add-ip-dialog-content">
  <app-fl-backdrop *ngIf="loading"></app-fl-backdrop>
  <form appFormSubmit (ngSubmit)="addIpsAutomatically()" [formGroup]="addIpAutomaticallyForm">
    <app-form-errors #formErrors [formGroup]="addIpAutomaticallyForm"></app-form-errors>
    <div fxLayout="row">
      <mat-form-field fxFlex="100">
        <mat-select formControlName="port" placeholder="Port" (selectionChange)="changeSubnets()">
          <mat-option *ngFor="let port of ports" [value]="port.id">
            {{port.id}}
          </mat-option>
        </mat-select>
        <mat-error>{{'This field is required'}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" *ngIf="addIpAutomaticallyForm.controls.port.value">
      <mat-form-field fxFlex="100">
        <mat-select formControlName="subnet" placeholder="Subnet">
          <mat-option *ngFor="let subnet of subnets" [value]="subnet.id">
            {{subnet.name}} ({{subnet.cidr}})
          </mat-option>
        </mat-select>
        <mat-error>{{'This field is required'}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field>
        <mat-label>IP(s) to allocate</mat-label>
        <input matInput [(ngModel)]="ipsToAllocate" [ngModelOptions]="{standalone: true}"
               placeholder="IP(s) to allocate" type="number" min="1" step="1"
               required>
        <mat-error>{{'This field is required!'}}</mat-error>
      </mat-form-field>
    </div>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="addIpsAutomatically()"
          [color]="'primary'">
    Add ip
  </button>
</div>
