<div class="fl-content-min-height" fxLayout="column">
  <app-fl-backdrop *ngIf="loading" [verticalAlignMiddle]="true"></app-fl-backdrop>
  <div class="fl-margin-bottom"
       *ngIf="selectedUser && selectedUser.user_groups && selectedUser.user_groups.length > 0">
    <h3>Note!</h3>
    <p>
      One user can be included in one or more groups. The final permissions are calculated based on the values of all
      permissions that are associated with the user, including those from the user groups. Effective permissions are
      represented by the disabled checkboxes.
    </p>
    <h3 *ngIf="selectedUser && !selectedUser.user_groups.length" translate>
      User
      <a class="active-link" [routerLink]="[config.getPanelUrl('clients-users/users'), selectedUser.id]">
        {{selectedUser.username}}
      </a>
      is not included in any group.
    </h3>
    <div>
      <h3>
        User
        <a class="active-link" [routerLink]="[config.getPanelUrl('clients-users/users'), selectedUser.id]">
          {{selectedUser.username}}
        </a>
        is part of the following groups:
      </h3>
      <table>
        <tbody>
        <tr *ngFor="let group of selectedUser.user_groups">
          <td>
            <a [routerLink]="config.getPanelUrl('clients-users/user-groups/' + group.id)" class="active-link">
              {{group.name || group.id}}
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <p class="fl-subheader-md">Select a user to manage permissions</p>
  <div fxLayout="column">
    <form appFormSubmit (ngSubmit)="saveUserPermissions()"
          [formGroup]="userAuthorizationForm" fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="User" aria-label="User" [matAutocomplete]="auto"
               (click)="clickedUserInput()"
               formControlName="user">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUserFn"
                          (optionSelected)="newUserSelection($event)">
          <mat-option *ngFor="let user of filteredUsers" [value]="user">
            <app-gravatar [email]="user.email" [customStyle]="{
            width: '24px',
            borderRadius: '100%',
            marginLeft: '5px',
            marginRight: '15px',
            verticalAlign: 'middle'
          }"></app-gravatar>
            <span>{{user.username}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="fl-margin-bottom" fxLayout="row"
         *ngIf="showPermissionOptions()">
      <a mat-button (click)="checkAll()">Check all</a>
      <a mat-button (click)="unCheckAll()">Uncheck all</a>
      <a mat-button (click)="refreshAllPermissions()">Revert permissions</a>
    </div>
    <div *ngIf="selectedUser && selectedUser.is_superuser">
      <p>The user you selected is a superuser and already has all permissions.</p>
      <p>If you want to manage it's permissions you need to remove it's superuser status from user's details page.</p>
    </div>
    <mat-checkbox *ngIf="showPermissionOptions()"
                  [color]="'primary'" [checked]="permissions.implicitly_granted"
                  (change)="permissions.implicitly_granted = !permissions.implicitly_granted"
                  class="fl-grant-permissions-checkbox">
      Grant new permissions implicitly
    </mat-checkbox>
    <div fxFlex="100" *ngIf="showPermissionOptions()">
      <div fxFlex="100" fxLayout="row" fxLayout.lt-md="column">
        <table class="fl-grid fl-table-auto-height" fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
          <ng-container *ngFor="let perm of permissions.objects; let i = index">
            <tbody *ngIf="i <= (permissions.objects.length / 2)">
            <tr *ngIf="perm && perm.display_data && i === 0">
              <td class="fl-permissions-category" fxFlex="100">
                {{perm.display_data.category.toUpperCase()}}
              </td>
            </tr>
            <tr class="v-middle">
              <td [attr.fl-tooltip]="perm.description" fxFlex="90"
                  class="fl-permissions-display-name fl-cursor-pointer"
                  (click)="toggleCheckbox(perm)">
                <p>{{perm.display_name }}</p>
              </td>
              <td fxFlex="5">
                <mat-checkbox [(ngModel)]="perm.granted" [color]="'primary'"
                              class="fl-permissions-checkboxes"></mat-checkbox>
              </td>
              <td fxFlex="5" class="no-overflow-hidden">
                <mat-checkbox [attr.fl-tooltip]="'Effective permission'" [color]="'primary'"
                              [checked]="getEffectivePermission(perm.name)" fl-tooltip-direction="left"
                              class="fl-permissions-checkboxes" disabled></mat-checkbox>
              </td>
            </tr>
            <tr *ngIf="perm && perm.display_data && perm.display_data.last_in_category == true">
              <td class="fl-permissions-category" fxFlex="100">
                {{perm.display_data.next_category.toUpperCase()}}
              </td>
            </tr>
            </tbody>
          </ng-container>
        </table>
        <table class="fl-grid fl-table-auto-height" fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
          <ng-container *ngFor="let perm of permissions.objects; let i = index">
            <tbody *ngIf="i > (permissions.objects.length / 2)">
            <tr *ngIf="perm && perm.display_data && i === 0">
              <td class="fl-permissions-category" fxFlex="100">
                {{perm.display_data.category.toUpperCase()}}
              </td>
            </tr>
            <tr class="v-middle">
              <td [attr.fl-tooltip]="perm.description" fxFlex="90"
                  class="fl-permissions-display-name fl-cursor-pointer"
                  (click)="toggleCheckbox(perm)">
                <p>{{perm.display_name }}</p>
              </td>
              <td fxFlex="5">
                <mat-checkbox [(ngModel)]="perm.granted" [color]="'primary'"
                              class="fl-permissions-checkboxes"></mat-checkbox>
              </td>
              <td fxFlex="5" class="no-overflow-hidden">
                <mat-checkbox [attr.fl-tooltip]="'Effective permission'" [color]="'primary'"
                              [checked]="getEffectivePermission(perm.name)" fl-tooltip-direction="left"
                              class="fl-permissions-checkboxes" disabled></mat-checkbox>
              </td>
            </tr>
            <tr *ngIf="perm && perm.display_data && perm.display_data.last_in_category == true">
              <td class="fl-permissions-category" fxFlex="100">
                {{perm.display_data.next_category.toUpperCase()}}
              </td>
            </tr>
            </tbody>
          </ng-container>
        </table>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="fl-margin-top" *ngIf="permissions">
    <button mat-button (click)="saveUserPermissions()" color="primary">Save permissions</button>
  </div>
</div>
