.object-card {
  margin: 0 12px 24px 12px;
  padding: 0;
  width: 321px;
  height: 216px;
  float: left;
  display: flex;
  flex-direction: column;
}

@import '~@angular/material/theming';
.object-card:hover {
  @include mat-elevation(6);
}

.object-card-header {
  padding-top: 24px;
}

.object-card-actions {
  position: absolute;
  bottom: 15px;
  width: 92%;
  left: 18px;
  z-index: 10;
}

.object-card-header-icon::ng-deep mat-icon {
  display: block;
  margin: 0 auto;
  font-size: 32px;
}

.push-mat-avatar {
  margin-top: 10px;
}

.object-card-title {
  font-weight: 400;
  font-size: 24px;
  margin-top: 5px;
  position: relative;
  width: 290px;
  z-index: 0;
}

.object-tags {
  margin-top: 5px;
}

.mat-card-avatar {
  position: absolute;
  right: 20px;
  z-index: 0;
}

.mat-card-header .mat-card-title {
  max-width: 230px;
}

.obj-card-link {
  position:absolute;
  left:0; top:0; bottom:0; right:0;
  z-index: 5;
}

.obj-card-link:focus {
  outline: none;
}

.field-link {
  position: relative;
  z-index: 10;
}

.subtext-icon {
  z-index: 10;
}

.subtext-icon::ng-deep mat-icon {
  vertical-align: middle;
}
