::ng-deep .object-card .actions-container {
  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

::ng-deep .object-card:hover .actions-container {
  opacity: 1;
}

.no-objects-message-container {
  text-align: center;
}

.no-objects-message {
  font-size: 22px;
  color: #6F6F6F;
  position: fixed;
  width: 100%;
  background-color: #F1F1F1;
  left: 0;
  top: 200px;
}

@media screen and (max-width: 720px) {
  .cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
