<h1 *ngIf="data && data.instance" mat-dialog-title>
  Create backup for instance {{data.instance.name || data.instance.id}}
</h1>
<div mat-dialog-content class="fl-dialog overflow-hidden">
  <app-fl-backdrop *ngIf="loading"></app-fl-backdrop>
  <p class="fl-important-text">Warning: instance will not be available during the backup process.</p>
  <form appFormSubmit (ngSubmit)="createBackup()" [formGroup]="backupForm">
    <app-form-errors #formErrors [formGroup]="backupForm"></app-form-errors>
    <div fxLayout="column">
      <mat-radio-group *ngIf="isStaff"
        formControlName="create_as_client">
        <mat-radio-button class="fl-block" [color]="'primary'" [value]="false">
          Create backup in admin project<br>
          <span class="fl-detail">
            End-user will NOT see this backup and NO storage cost will incur
          </span>
        </mat-radio-button>
        <mat-radio-button class="fl-block fl-margin-top-medium" [color]="'primary'" [value]="true">
          Create backup in client project<br>
          <span class="fl-detail line-height-16">
            End-user will see this backup and storage cost will incur
            (assuming you have a matching image pricing rule)
          </span>
        </mat-radio-button>
      </mat-radio-group>
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Backup name" type="text" name="backup_name"
               formControlName="backup_name" required>
        <mat-error>{{backendErrors['backup_name'] || 'This field is required'}}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Backup rotation" type="number" min="1" step="1" name="rotation"
               formControlName="rotation" required>
        <mat-hint *ngIf="rotationControl.value >= (data.existingBackupsCount + 1)">
          Number of backups to keep (the rest backups of type manual will be deleted)
        </mat-hint>
        <mat-hint *ngIf="!(isStaff && createAsClientControl.value) &&
            rotationControl.value < (data.existingBackupsCount + 1)">
          <span class="fl-important-text">
            {{ ((data.existingBackupsCount + 1) - rotationControl.value) }} older backups will be deleted.
          </span>
        </mat-hint>
        <mat-hint *ngIf="(isStaff && createAsClientControl.value) &&
            rotationControl.value < (data.existingBackupsCountClientProject + 1)">
          <span class="fl-important-text">
            {{ ((data.existingBackupsCountClientProject + 1) - rotationControl.value) }} older backups will be deleted.
            (only client's project backups are considered)
          </span>
        </mat-hint>
        <mat-error>{{backendErrors['rotation'] || 'This field is required'}}</mat-error>
      </mat-form-field>
    </div>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="createBackup()"
          [disabled]="backupForm.invalid"
          [color]="'primary'">
    Create backup
  </button>
</div>
