<form appFormSubmit (ngSubmit)="objectController.actionCallback(primaryAction)"
      [formGroup]="flavorGroupForm" fxLayout="column" fxLayoutGap="10px">
  <app-form-errors #formErrors [formGroup]="flavorGroupForm"></app-form-errors>
  <mat-form-field>
    <input matInput placeholder="Name" type="text" formControlName="name" required>
    <mat-error>{{fieldErrors['name']}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Priority" type="number" formControlName="priority" required>
    <mat-error>{{fieldErrors['priority']}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" type="text" formControlName="description" required>
    <mat-error>{{fieldErrors['description']}}</mat-error>
  </mat-form-field>
  <mat-checkbox color="primary" formControlName="is_default">
    Is default
  </mat-checkbox>
</form>
