<form [formGroup]="confirmPassForm" fxLayout="column" (ngSubmit)="confirm()">
  <app-fl-backdrop [verticalAlignMiddle]="true" *ngIf="loading"></app-fl-backdrop>
  <app-form-errors #formErrors [formGroup]="confirmPassForm"></app-form-errors>
  <mat-form-field>
    <input matInput placeholder="Confirm password" autocapitalize="none"
           type="password" formControlName="password" name="password" required>
    <mat-error>This field is required!</mat-error>
  </mat-form-field>
  <div class="fl-margin-top">
    <button mat-raised-button [color]="'primary'" type="submit">Confirm</button>
  </div>
</form>
