<div align="center">
  <form [formGroup]="newPassForm" (ngSubmit)="submit()">
    <div>
      <mat-card class="new-pass-card">
        <div>
          <app-logo [darkContext]="false" [linkOptions]="logoLinkOptions" [customStyle]="{
            width: '140px',
            height: '70px',
            marginBottom: '20px'
          }"></app-logo>
        </div>
        <mat-card-title align="left" *ngIf="!resetRequested">
          <span class="card-title">Reset password</span>
        </mat-card-title>
        <mat-card-content>
          <div *ngIf="!resetRequested">
            <app-form-errors #formErrors [formGroup]="newPassForm"></app-form-errors>
            <mat-form-field>
              <input matInput placeholder="New password" autocapitalize="none"
                     autocomplete="new-password"
                     type="password" formControlName="new_password" name="new_password" required>
              <mat-error>This field is required!</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Retype new password" autocapitalize="none"
                     type="password" formControlName="confirm_password" name="confirm_password" required>
              <mat-error>This field is required!</mat-error>
            </mat-form-field>
              <p>{{newPassForm.errors}}</p>
          </div>
          <div class="text-left fl-margin-bottom" *ngIf="resetRequested">
            Password has been reset successfully
          </div>
          <button *ngIf="resetRequested" class="fl-margin-top" mat-raised-button
                  [routerLink]="config.getPanelUrl('login')"
                  [color]="'primary'">Login page</button>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="!resetRequested">
            <button mat-raised-button [color]="'primary'" type="submit">Reset</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </form>
  <a class="powered-by-link" href="http://fleio.com" target="_blank"
     *ngIf="auth && auth.userData && !auth.userData.is_white_label">
    Powered by Fleio
  </a>
</div>
