.fl-row {
  display: inline-flex;
  width: 100%;
  overflow: visible;
  flex-wrap: wrap;
  flex-direction: row;
}

.fl-col {
  flex: 1 1 45%;
  display: block;
}

.fl-list-element {
  margin: 0 !important;
  font-size: 14px;
  letter-spacing: 0.01em;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.54);
}

