<h1 mat-dialog-title>Test connection results</h1>
<div mat-dialog-content class="fl-dialog">
  <app-fl-backdrop *ngIf="testingCredentials === true"></app-fl-backdrop>
  <div *ngIf="testError" class="fl-red-color">
    <p *ngFor="let error of testError.non_field_errors" fxLayout="row">
        {{error}}
    </p>
  </div>
  <div *ngIf="testResults" class="fl-detail" fxLayout="row">
    <i [attr.fl-tooltip]="'Successfully connected'" fl-tooltip-direction="right"
       class="material-icons fl-green-color fl-margin-right-small">
      check
    </i>
    {{testResults.detail}}
  </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayout.xs="column">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button color="primary" (click)="saveAndSync()">
    {{ this.testError ? 'Edit settings':'Save settings & sync' }}
  </button>
</div>
