<h1 mat-dialog-title>Change service pricing plan</h1>
<div mat-dialog-content class="fl-dialog" fxLayout="column">
  <p *ngIf="currentPlan">Current plan: {{currentPlan.name}}</p>
  <div *ngIf="(availablePlans && !availablePlans.length) || hasOnlySelectedPlan()" class="fl-detail">
    No other plans to choose from.
  </div>
  <form appFormSubmit (ngSubmit)="changePlan()"
        *ngIf="(availablePlans && availablePlans.length) && !hasOnlySelectedPlan()" [formGroup]="changePlanFrom">
    <mat-form-field fxFlex="90">
      <mat-select formControlName="selectedPlan" placeholder="New plan">
        <mat-option *ngFor="let plan of availablePlans" [value]="plan.id">
          {{plan.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button disabled="{{!(selectedPlan.value > 0)}}" (click)="changePlan()"
          [color]="'primary'">
    Change plan
  </button>
</div>
